#gruenerKreis {
    background-color: green;
    position: absolute;
    width:150px;
    height: 150px;
    top: 400px;
    left: 250px;
    border: 5px solid grey;
    text-align: center;
    border-radius: 100px;
}

#lilaKreis {
    background-color: purple;
    position: absolute;
    width:150px;
    height: 150px;
    top: 150px;
    left: 400px;
    border: 5px solid grey;
    text-align: center;
    border-radius: 100px;
}

#roterKreis {
    background-color: red;
    position: absolute;
    width:150px;
    height: 150px;
    top: 150px;
    left: 700px;
    border: 5px solid grey;
    text-align: center;
    border-radius: 100px;
}

#orangenerKreis {
    background-color: orange;
    position: absolute;
    width:150px;
    height: 150px;
    top: 400px;
    left:850px;
    border: 5px solid grey;
    text-align: center;
    border-radius: 100px;
}

#blauerKreis {
    background-color: blue;
    position: absolute;
    width:150px;
    height: 150px;
    top: 650px;
    left:700px;
    border: 5px solid grey;
    text-align: center;
    border-radius: 100px;
}

#schwarzerKreis {
    background-color: black;
    position: absolute;
    width:150px;
    height: 150px;
    top: 650px;
    left:400px;
    border: 5px solid grey;
    text-align: center;
    border-radius: 100px;
}

#kleinerKreisWeiss {
    background-color: silver;
    position: relative;
    width:50px;
    height: 50px;
    top: 50px;
    left: 50px;
    text-align: center;
    border-radius: 100px;
}

#RechteckMitte {

    position: absolute;
    width:200px;
    height: 100px;
    top: 420px;
    left:525px;
    border: 10px solid black;
    text-align: center;
    font-size: 70px;
    font-weight: bold;
    cursor: pointer;
}

#SchriftnebenBox {
    position: absolute;
    width:300px;
    height: 50px;
    top: 470px;
    left:1050px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

#StandardBox {
    position: absolute;
    width:170px;
    padding-top: 10px;
    height: 80px;
    top: 450px;
    left:1350px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    border: 5px solid black;
    background-color: red;

}

.Text {
    font-size: 30px;
    font-weight: bold;
    border: 0px;
    font-weight: bold;
    color: white;
    text-align: center;
    background-color: red;
}