@import url(http://fonts.googleapis.com/css?family=Joti+One);

#container
{
    width: 1018px;
    height:768px;
    margin: 50px auto;
    background-color: #323232;
}

#top
{
    width: 1018px;
    height: 52px;
    background-size: 100%;
    background-color: greenyellow;
    text-align: center;
    background-image: URL(img/banner_first.png);

}
#logo
{
    width: 1018px;
    height: 178px;
    background-size: 100%;
    background-color: greenyellow;
    background-image: URL(img/logo2.png);
    font: normal bold 20px 'Joti One', cursive;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;

}

#inhalt_background_wallpaper
{
    width: 1018px;
    height: 425px;
    float: left;
    background-color: #494949;
    background-image: URL(img/passat1018.png);
    background-repeat: no-repeat;
}

#inhalt_box_pic_show
{
    width: 1018px;
    height: 425px;
    float: left;
    background-color: #494949;
    background-repeat: no-repeat;
}

#balken_grau
{
    background-color: seagreen;
    width: 1018px;
    height: 500px;
    background-color: #323232;
}

#menue
{
    height: 80px;
    font: normal bold 20px 'Joti One', cursive;
    color: #ffffff;
    text-transform: uppercase;
    /*text-align: right;*/
    margin-right: 70px;
    text-align: right;
    background-color: #323232;
    word-spacing: 25px;
}

#greenbox
{
    background-color: #a7d419;
    width: 900px;
    height: 400px;
    margin-top: -105px;
    margin-left: 60px;
    margin-right: 50px;
    opacity: 0.9;
}

.green_box_text_startseite {
    font: normal bold 50px 'Joti One', cursive;
    text-align: center;
    color: #000000;
}

#menue_nav {
    position: relative;
    left: 375px;
}

#menue_nav li {
    float: left;
    height: 80px;
    font: normal bold 20px 'Joti One', cursive;
    color: #ffffff;
    text-transform: uppercase;
    list-style: none;
    padding-right: 20px;
    cursor: pointer;

}
#menue_nav li:hover {
    color: #6a9001;
}

a:hover,a,a:focus,a:active {
    color: inherit;
    text-decoration: none;
}
