@charset "utf-8";

body {
    background-color: #FFFFFF;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    text-align: center;
}

div#ganzeSeite {
    width: 760px;
    margin: 0px auto;
}

h1#logo {
    background: url(images/logo.jpg) left  no-repeat;
    position: relative;
    min-width: 760px;
    min-height: 189px;
    text-align: left;
    color: #5EC3CD;
}

h1#ueberschrift {
    color: #FF7800;
}

h3 {
    color: #015C65;
}

div#navigation {
    position: relative;
    float: right;
    max-width: 200px;
    min-height: 350px;
    background-color: #028E9B;
}

div#text {
    /*Position ist Relativ... abhängig vom Vorgängerlement*/
    position: relative;
    /*Textausrichtung Linksbündig*/
    text-align: left;
    
    /*Außenabstand nach rechts*/
    margin-right: 180px;
    
    /*Maximale Breite*/
    max-width: 530px;

    /*Innenabstand vom Rahmen zum Inhalt*/
    padding: 10px;

    /*Hintergrundfarbe*/
    background-color: #5EC3CD;
}

/*Listenelement für Navigation*/
li {
    text-align: right;
    list-style-type: none;
    margin: 0.5em;
}

/*Farbe eine Links*/
a:link {
    color: #FFB573;
    background-color: transparent;
}

/*Farbe eines besuchten Links*/
a:visited {
    color: #FFB573;
    background-color: transparent;
}

/* Absätze */
/*Angabe der Schriftgröße, relativ zur Normalgröße.*/
/*1em = 100%*/
p {
    margin: .8em 0;
}
