@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);
/**
 * Created by IntelliJ IDEA.
 * User: Marc Enders
 * Date: 03.07.14
 * Time: 21:43
 */

body {
    padding: 0px;
    margin: 0px;
    background-color: #323232;
}

img {
    border: 3px solid #424242;
}

#outer_container {
    overflow: hidden;
    width: 100%;
}

#container
{
    width: 1018px;
    height: 760px;
    margin: 50px auto;
    background-color: #323232;
}

#top
{
    width: 1018px;
    height: 30px;
    background-size: 100%;
    background-color: greenyellow;
    text-align: center;
    background-image: URL(img/banner_first.png);
}
#logo
{
    width: 1018px;
    height: 178px;
    background-size: 100%;
    background-image: URL(img/logo2.png);

}
#inhalt_background_wallpaper
{
    width: 1018px;
    height: 425px;
    float: left;
    background-image: URL(img/passat1018.png);
    background-repeat: no-repeat;
}

#menue_nav {
    position: relative;
    left: 430px;
}

#menue_nav li {
    float: left;
    height: 80px;
    font: normal bold 20px 'Source Sans Pro', sans-serif;
    color: #ffffff;
    list-style: none;
    padding-right: 19px;
    cursor: pointer;
}

/*Mouseover Farbe*/
#menue_nav li:hover {
    color: #a7d419;
}

/*inherited = vererbt*/
a:hover,a,a:focus,a:active {
    color: inherit;
    text-decoration: none;
}

#greenbox_main
{
    background-color: #a7d419;
    width: 900px;
    height: 405px;
    margin-top: -60px;
    margin-left: 60px;
    margin-right: 50px;
    opacity: 0.85;
}

#greenbox_umbau
{
    background-color: #a7d419;
    width: 345px;
    height: 365px;
    margin-top: -60px;
    margin-left: 615px;
    margin-right: 50px;
    opacity: 0.95;

}

#greenbox_impressum
{
    background-color: #a7d419;
    width: 900px;
    height: 400px;
    margin-top: -60px;
    margin-left: 60px;
    margin-right: 50px;
    opacity: 0.85;
    text-align: center;
}

#inhalt_box_pic_show
{
    width: 1018px;
    height: 425px;
    float: left;
    background-color: #494949;
    background-repeat: no-repeat;
}

.h1_ueberschrift_left_15 {
    font: normal bold 15px 'Source Sans Pro', sans-serif;
    text-align: left;
    color: #000000;
    padding-top: 10px;
    padding-left: 10px;

}

.h2_uberschrift_black_40 {
    font: normal bold 40px 'Source Sans Pro', sans-serif;
    text-align: center;
    color: #000000;
}

.h2_black_text_16 {
     font: normal bold 16px 'Source Sans Pro', sans-serif;
     color: #000000;
 }

.h2_black_text_20_php {
    font: normal bold 20px 'Source Sans Pro', sans-serif;
    color: black;
    text-align: center;
}

.h2_red_text_16_php {
    font: normal bold 16px 'Source Sans Pro', sans-serif;
    color: red;
    text-align: center;
}

.h2_black_text_30_php {
    font: normal bold 30px 'Source Sans Pro', sans-serif;
    color: black;
    text-align: center;
}

.h2_black_text_13 {
    font: normal bold 13px 'Source Sans Pro', sans-serif;
    color: #000000;
}

.h2_black_text_padding_16 {
    font: normal bold 16px 'Source Sans Pro', sans-serif;
    color: #000000;
    padding: 20px;
}

.h3_ueberschrift_black_20 {
    font: normal bold 20px 'Source Sans Pro', sans-serif;
    text-align: center;
    color: #000000;
}

.h4_ueberschrift_impressum_30 {
    font: normal bold 30px 'Source Sans Pro', sans-serif;
    text-align: center;
    color: #000000;
}

.h2_ueberschrift_black_underline {
    font: normal bold 20px 'Source Sans Pro', sans-serif;
    text-align: left;
    color: #000000;
    text-decoration: underline;
}

.h2_ueberschrift_blue {
    font: normal bold 15px 'Source Sans Pro', sans-serif;
    text-align: left;
    color: blue;
    text-decoration: none;
    border-bottom: 5px dotted blue;
}

.p_center {
    text-align: center;
}

.changecolor_after_click_green {
    color: seagreen;
}

.tabelle_zentrieren  {
    margin-left: auto;
    margin-right: auto;
}

.tabelle_spacing td {
    padding: 5px;
    margin: 5px;
}

.tabelle_spacing2 td {
    padding: 10px;
    margin: 15px;
}

.tabelle_border {
    border: 1px solid #424242;
}

.tabelle_border td {

    padding: 4px;
}
