@charset "utf-8";

/* Farben und Hintergrund setzen */
body {
	background: #FFFFFF url(images/) top left repeat-x;
}
/* Schriftgröße kontrollieren */
body {
	font: normal 10pt Verdana, sans-serif;
}
p {
	color: #8AD4E4;
}
/* Links und Anker */
a:link {
	color: #8AD4E4;
	background-color: transparent;
}
a:visited {
	color: #8AD4E4;
	background-color: transparent;
}
/* Überschriften */
h1, h2, h3, h4, h5, h6 {
	color: #F7941C;
	background-color: transparent;
}
h1 {
	font-size: 1.5em;
	margin: 0 0 1.5em 0;
}
/* Absätze */
p {
	margin: .8em 0;
}
/* Bilder */
img {
	vertical-align: bottom;
}
/** Slideshow
 div#slideshow {
 position: auto;
 margin: left;
 }
 */

/** Hauptbereich
 -----------------------------*/
div#top {
	background: #018592;
	border: 1px solid #606060;
	/* border-top: 0; */
	width: 700px;
	margin: auto;
}
/** globale Navigation
 ---------------------------------------------------------- */
div#navigation {
	position: relative;
}
#navigation ul {
	font-size: 12pt;
	margin-left: 0mm ;
}
#navigation ul, #navigation li {
	float: left;
	list-style: none;
}
#navigation ul a, #navigation ul strong {
	color: #5D5D5D;
	background-color: white;
	text-decoration: none;
	padding: .2em 1em;
}
#navigation ul a:hover, #navigation ul a:focus {
	text-decoration: underline;
}
/** Logo
 ---------------------------------------------------------- */
h1#logo {
	color: #5D5D5D;
	background: #eae65e url(images/logo.jpg) left  no-repeat;
	width: 700px;
	height: 287px;
	text-align: right;
	margin: 0;
}
/** Content
 ---------------------------------------------------------- */
div#content {
	font-family: sans-serif;
	margin: 0 100px 0 100px;
	padding: 30px 42px 64px 42px;
}
/** Fußzeile
 ---------------------------------------------------------- */
p#footer {
	background-color: #FFC74E;
	font-size: .9em;
	text-align: center;
	padding: 5px 20px;
	margin: 0;
	clear: both;
}
#footer a {
	background-color: #FFC74E;
}

