body {
    font-family: 'Georgia', serif;
    font-size: 10pt;
    background-image: url("img/1.png");
    background-repeat: repeat-y;
}

.rahmen1 {
     width: 1400px;
     border-top-width: 5px;
     border-top-color: green;
     border-top-style: dashed;
     border-right-width: 5px;
     border-right-style: dotted;
     border-right-color: deeppink;
     border-left-width: 5px;
     border-left-color: gray;
     border-left-style: solid;
     border-bottom-width: 5px;
     border-bottom-color: orange;
     border-bottom-style: inset;
     padding: 100px;
     margin: 20px;

 }

.rahmen2 {
    width: 500px;
    height: 400px;
    border-top-width: 5px;
    border-top-color: green;
    border-top-style: dashed;
    border-right-width: 5px;
    border-right-style: dotted;
    border-right-color: deeppink;
    border-left-width: 5px;
    border-left-color: gray;
    border-left-style: solid;
    border-bottom-width: 5px;
    border-bottom-color: orange;
    border-bottom-style: inset;
    padding: 100px;
    margin: 20px;
}

.rahmen3 {
    width: 500px;
    height: 400px;
    border-top-width: 5px;
    border-top-color: green;
    border-top-style: dashed;
    border-right-width: 5px;
    border-right-style: dotted;
    border-right-color: deeppink;
    border-left-width: 5px;
    border-left-color: gray;
    border-left-style: solid;
    border-bottom-width: 5px;
    border-bottom-color: orange;
    border-bottom-style: inset;
    padding: 100px;
    margin-left: 20

}