h1 {
    border-bottom: thin dashed red;
    color: green;
}

div {
    border: 2px solid;
    padding: 15px;
    margin: 20px;
}

span {
   text-decoration: underline;
   color: blueviolet;
   font-size: 1030%;
   background-color: palegreen;
}