body {
    font-family: 'Georgia', serif;
    font-size: 10pt;
    height: 1500px;
}

div {
    border: 1px solid black;
    width: 200px;
    height: 150px;
    text-align: center;
}

.d_yellow {
    position: static;
    background-color: yellow;
}

.d_blue {
    position: relative;
    top: 5px;
    left: 235px;
    background-color: blue;
}

.d_red {
    position: absolute;
    top: 200px;
    background-color: red;
}

.d_green {
    position: fixed;
    margin: 250px;
    background-color: green;
}