body {
    background-color: #dafde2;
    margin-left: 10px;
}
h1 {
    font-style: italic;
    color: blue;
    border-bottom: 2px solid #000000;
}
li {
    font-family: Helvetica, sans-serif;
    font-size: 120%;
    color: #885ac7;
}
p {
    font-weight: bold;
    background-color: #c0c0c0;
}

p, li, h1 {font-weight: bold}